<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tribute website  | A.P.J Abdul kalam </title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <section class="top_section">
                <div class="image_container">
                    <img src="./image/m1.jpg" alt="jkh" />
                </div>
                <div>
                <h1>A.P.J Abdul kalam</h1>
                <h4>1931 - 2015</h4>
              </div>  
            </section>
            <div>
                <section class="about_section">
                    <h2>Missle Man of India</h2>
                    <p><b>Abdul Kalam, full name Avul Pakir Jainulabdeen Abdul Kalam (1931-2015)
                        </b>was an eminent Indian scientist and a highly respected political figure who served as the 
                        11th President of India from 2002 to 2007. He is often referred to as "Dr. APJ Abdul Kalam" 
                        or simply "Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931, Kalam came 
                        from a modest background. He had an early interest in science and was particularly fascinated by flight. 
                        He pursued aeronautical engineering and graduated from the Madras Institute of Technology (MIT) in 1954. 
                        He later joined the Defense Research and Development Organization (DRDO) and the Indian Space Research Organisation (ISRO), 
                        where he made significant contributions to India's missile and space programs.</p>
                </section>
                <section class="biography_section">
                    <h3>biographies</h3>
                    <ul>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                            <li>"Dr. Kalam." Born in Rameswaram, Tamil Nadu, India, on October 15, 1931
                            </li>
                        </ul>
                </section>
                <footer>
                    <p>Read more Abdul Kalam, <a href="https://en.wikipedia.org/wiki/Abdu_Rozik">Abdul Kalam</a></p>
                </footer>
            </div>
        </div>
        
    </div>   
</body>
</html>